<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>
        <button type="button" class="button detail-button" (click)="showDetails(user)">Detalles</button>
        <button type="button" class="button edit-button" [routerLink]="['/update-user', user.id]">Editar</button>
        <button type="button" class="button delete-button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<app-modal [isOpen]="isModalOpen" (close)="onCloseModal()">
  <ng-container *ngIf="selectedUser">
    <h2>Detalles del Usuario</h2>
    <p><strong>Id:</strong> {{ selectedUser.id }}</p>
    <p><strong>Nombre:</strong> {{ selectedUser.name }}</p>
    
    <h3>Posts:</h3>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Contenido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of selectedUser.posts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</app-modal>
